<app-nav></app-nav>
<br><br>
<div class="container">
  <h1>Contactenos</h1>
  <form>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">* Nombre</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">* Telefono</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 mb-6">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">* Apellido</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">* Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">* Solicitud</label>
        <textarea name="" id="" cols="30" class="form-control"></textarea>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<app-footer></app-footer>